@font-face {
    font-family: 'noto si sans';
    src: local('###'), url('./fonts/NotoSansSinhala-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto si sans';
    src: local('###'), url('./fonts/NotoSansSinhala-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'noto si serif';
    src: local('###'), url('./fonts/NotoSerifSinhala-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto si serif';
    src: local('###'), url('./fonts/NotoSerifSinhala-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'noto hi serif';
    src: local('###'), url('./fonts/NotoSerifDevanagari-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto hi serif';
    src: local('###'), url('./fonts/NotoSerifDevanagari-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'noto ro serif';
    src: local('###'), url('./fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto ro serif';
    src: local('###'), url('./fonts/NotoSerif-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'noto th serif';
    src: local('###'), url('./fonts/THSarabun.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto th serif';
    src: local('###'), url('./fonts/THSarabun-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'noto lo serif'; font-weight: normal;
    src: local('###'), url('./fonts/LaoPaliAlpha-Light.woff') format('truetype');
}
@font-face {
    font-family: 'noto lo serif'; font-weight: bold;
    src: local('###'), url('./fonts/LaoPaliAlpha-Regular.woff') format('truetype');
}

@font-face {
    font-family: 'noto my serif';
    src: local('###'), url('./fonts/NotoSansMyanmar-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto my serif';
    src: local('###'), url('./fonts/NotoSansMyanmar-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'noto km serif';
    src: local('###'), url('./fonts/NotoSerifKhmer-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto km serif';
    src: local('###'), url('./fonts/NotoSerifKhmer-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'itmsu';
    src: local('###'), url('./fonts/itmsu-r.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'itmsu';
    src: local('###'), url('./fonts/itmsu-b.ttf') format('truetype');
    font-weight: bold;
}

.UT[lang=en] {
    font-family: 'noto ro serif';
}
.UT[lang=si] {
    font-family: 'noto si serif';
}

.PT[lang=si],.tab-content[lang=si] {
    font-family: 'noto si serif';
}
.PT[lang=hi],.tab-content[lang=hi] {
    font-family: 'noto hi serif';
}
.PT[lang=ro],.tab-content[lang=ro] {
    font-family: 'noto ro serif';
}
.PT[lang=th],.tab-content[lang=th] {
    font-family: 'noto th serif'; font-size: 150%;
}
.PT[lang=lo],.tab-content[lang=lo] {
    font-family: 'noto lo serif'; line-height: 170%; /*font-size: 125%;*/
}
.PT[lang=my],.tab-content[lang=my] {
    font-family: 'noto my serif';
}
.PT[lang=km],.tab-content[lang=km] {
    font-family: 'noto km serif';
}